<div
    class="inline-block flex flex-col gap-3 max-w-sm p-6 bg-bg_1 shadow-md rounded-lg dark:bg-dark_2 dark:border-gray-700 sticky top-[15vh] h-min max-h-[85vh] overflow-auto">
    <div>
        <div class="flex flex-row justify-between">
            <h5
                class="mb-2 text-md text-txt_color_2 font-bold tracking-tight text-gray-900 dark:text-white">
                {%if post%}
                    <div class="flex flex-col gap-2">
                        <a href="{% url 'community:community' post.community.name %}" class="font-bold text-lg">
                            r/{{post.community.name}}
                        </a>
                        <p>
                            {{post.community.name}} on Reddit
                        </p>
                    </div>
                {% elif event %}
                    <a href="{% url 'community:community' event.community.name %}" class="font-bold">
                        {{event.community.name}} on Reddit
                    </a>
                {%else%}
                    <a href="{% url 'community:community' community.name %}" class="font-bold text-lg">
                        r/{{community.name}}
                    </a>
                    <p>
                        {{community.name}} on Reddit
                    </p>
                {%endif%}
            </h5>

            {% if user_role == 'moderator' or user_role == 'admin'%}
            <button data-modal-target="edit_community_detail" data-modal-toggle="edit_community_detail"
                class='bg-button_gray hover:bg-button_gray_hover dark:bg-dark_1 dark:hover:bg-dark_2 shadow-md rounded-full p-2'>
                    <svg rpl="" fill="currentColor" height="16" icon-name="edit-outline" viewBox="0 0 20 20"
                        width="16" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m18.236 3.158-1.4-1.4a2.615 2.615 0 0 0-3.667-.021L1.336 13.318a1.129 1.129 0 0 0-.336.8v3.757A1.122 1.122 0 0 0 2.121 19h3.757a1.131 1.131 0 0 0 .8-.337L18.256 6.826a2.616 2.616 0 0 0-.02-3.668ZM5.824 17.747H2.25v-3.574l9.644-9.435L15.259 8.1l-9.435 9.647ZM17.363 5.952l-1.23 1.257-3.345-3.345 1.257-1.23a1.362 1.362 0 0 1 1.91.01l1.4 1.4a1.364 1.364 0 0 1 .008 1.908Z">
                        </path>
                    </svg>
            </button>
            {% endif %}
        </div>
        <p class="mb-3 text-txt_color_3 font-normal text-dark_2 dark:text-white_2">
            {% if post %}
                {{post.community.about}}
            {% elif event %}
                {{event.community.about}}
            {% else %}
                {{community.about}}
            {% endif %}
        </p>
    </div>
    {%include 'components/community/community_topics.html'%}
    {% if not event %}
        {%include 'components/community/community_rules.html' %}
    {% endif %}

    {%include 'components/community/community_events.html' %}

</div>