{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load utils %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.bubble.css" />

<div class="flex flex-row w-full relative top-[10vh]">
    {% include 'components/leftbar.html'%}
    <div class="p-10 w-[85%] relative left-[15%]">
        <div class="flex flex-row justify-between">
            <div class="flex flex-row gap-4 items-start w-full justify-between">
                <div class="flex flex-row gap-2">
                    <div class="flex flex-col gap-4">
                        <button onclick="history.back()" type="button"
                            class="bg-button_gray hover:bg-button_gray_hover dark:bg-dark_2 dark:hover:bg-gray_2 rounded-full w-[40px] h-[40px] py-2 px-2 flex justify-center items-center">
                            {% include 'svg/back.html'%}
                        </button>
                        
                        {% if request.user == event.host %}
                        <button
                            onclick="
                                event.stopPropagation();
                                let modal = document.querySelector('#delete_community_event'); 
                                modal.querySelector('input[name=event_id]').value = '{{event.id}}'; 
                                modal.querySelector('input[name=event_name]').value = '{{event.name}}';
                            "
                            class="bg-button_gray hover:bg-button_gray_hover dark:bg-dark_2 dark:hover:bg-gray_2 rounded-full w-[40px] h-[40px] py-2 px-2 flex justify-center items-center"
                            data-modal-target="delete_community_event" data-modal-toggle="delete_community_event"
                            >
                            {% include 'svg/trashcan.html'%}
                        </button>

                        <a href="{% url 'community:event' event.community.name %}?event_id={{event.id}}&edit=true"
                            class="bg-button_gray hover:bg-button_gray_hover dark:bg-dark_2 dark:hover:bg-gray_2 rounded-full w-[40px] h-[40px] py-2 px-2 flex justify-center items-center">
                            {% include 'svg/pencil.html'%}
                        </a>
                        {% endif %}

                    </div>
                    <div class="flex flex-col gap-3">
                        <div>

                            {% if event.image|startswith:'https'%}
                            <img class="w-72 h-72 object-cover rounded-md shadow-md" src="{{ event.image }}"
                                alt="Event image">
                            {% else %}
                            <img class="w-72 h-72 object-cover rounded-md shadow-md" src="{% static event.image %}"
                                alt="Event image">
                            {% endif %}
                        </div>

                        <a href="{% url 'community:community' event.community.name %}"
                            class="font-bold text-2xl flex flex-row gap-2 items-end">
                            <div class="rounded-full w-12 h-12 bg-gray-200 shadow-md">
                                {% if event.community.avatar|startswith:'https'%}
                                <img class="w-full h-full rounded-full object-cover" src="{{ event.community.avatar }}"
                                    alt="Community avatar">
                                {% else %}
                                <img class="w-full h-full rounded-full object-cover"
                                    src="{% static event.community.avatar %}" alt="Community avatar">
                                {% endif %}
                            </div>
                            r/{{event.community.name}}
                        </a>

                        <div class="flex flex-row items-center gap-2">
                            <div class="w-12 h-12 border rounded-md flex flex-col items-center shadow-md">
                                <div class="h-[1px] w-full border-t relative top-[35%]"></div>
                                <p id="mini_calendar_month" class="relative text-xs"></p>
                                <p id="mini_calendar_day"></p>
                            </div>

                            <div class="flex flex-col justify-between items-start ">
                                <p>{{event.start_date}}</p>
                                <p>{{event.start_time}} - {{event.end_time}}</p>
                            </div>
                        </div>

                        <div class="flex flex-row items-center gap-2">
                            <div class="w-12 h-12 border rounded-md flex flex-col items-center justify-center shadow-md">
                                <svg class="stroke-black dark:stroke-white" width="26" height="26" viewBox="0 0 16 16"
                                    fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M2 6.854C2 11.02 7.04 15 8 15C8.96 15 14 11.02 14 6.854C14 3.621 11.314 1 8 1C4.686 1 2 3.62 2 6.854Z"
                                        stroke-width="1" stroke-linecap="round" stroke-linejoin="round" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M9.5 6.5C9.5 6.89782 9.34196 7.27936 9.06066 7.56066C8.77936 7.84196 8.39782 8 8 8C7.60218 8 7.22064 7.84196 6.93934 7.56066C6.65804 7.27936 6.5 6.89782 6.5 6.5C6.5 6.10218 6.65804 5.72064 6.93934 5.43934C7.22064 5.15804 7.60218 5 8 5C8.39782 5 8.77936 5.15804 9.06066 5.43934C9.34196 5.72064 9.5 6.10218 9.5 6.5Z"
                                        stroke-width="1" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                            <p>{{event.location}}</p>
                        </div>

                        <div class="flex flex-col gap-2 border-b dark:border-white_3 py-3">
                            <p class="font-medium text-sm">Hosted by</p>
                            <div class="flex flex-row gap-1">
                                {%if event.host.avatar %}
                                {%if event.host.avatar|startswith:'https'%}
                                <img class="w-7 h-7 rounded-full" src="{{event.host.avatar}}" alt="Host avatar">
                                {% else %}
                                <img class="w-7 h-7 rounded-full" src="{% static event.host.avatar %}" alt="Host avatar">
                                {% endif %}
                                {% else %}
                                <div class="w-7 h-7 bg-black rounded-full"></div>
                                {% endif %}
                                <p>{{event.host.username}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-[50%] px-6">

                    <h1 class="text-2xl font-bold">{{event.name}}</h1>
                    <p class="event-description ql-editor">{{event.description}}</p>
                </div>
                    {% include 'components/community/community_right_bar.html' with community=event.community user_role=user_communities|get_community_role:event.community.id%}
            </div>
        </div>
    </div>
</div>

{% include 'components/community/delete_community_event_modal.html' with community=event.community %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        mini_calendar_month = document.getElementById('mini_calendar_month').textContent = "{{event.start_date|date:'M'}}";
        mini_calendar_day = document.getElementById('mini_calendar_day').textContent = "{{event.start_date|date:'d'}}";
    });
</script>
{% endblock %}