{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="relative top-[10vh] flex w-full flex-row">
  {% include 'components/leftbar.html'%}

    <div class="relative left-[15%] flex w-[85%] flex-row gap-10 p-10 items-center justify-center border h-[90vh]">
        <div class="flex justify-center items-center w-full h-full">
            <center class="mt-24 m-auto">
                <img class = "w-1/2" src="{% static 'images/cat_404.gif'%}" alt="">
                <div>
                    <span class="text-6xl block"><span>4  0  4</span></span>
                    <span class="text-xl">Sorry, We couldn't find what you are looking for!</span>
                </div>
            </center>
        </div>
  </div>
</div>

{% endblock %}
