{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="relative top-[10vh] flex w-full flex-row">
  {% include 'components/leftbar.html'%}

    <style>
        .emoji-404{
            position: relative;
            animation: mymove 2.5s infinite;
        }
        
        @keyframes mymove {
            33%   {top: 0px;}
            66%  {top: 20px;}
            100%  {top: 0px}
        }
    </style>

    <div class="relative left-[15%] flex w-[85%] flex-row gap-10 p-10 items-center justify-center border h-[90vh]">
        <div class="flex justify-center items-center w-full h-full">
            <center class="mt-24 m-auto">
                <img class = "w-1/2" src="{% static 'images/cat_cry.gif'%}" alt="">
                <div class="">
                    <span class="text-6xl block"><span>5  0  0</span></span>
                    <span class="text-xl">Sorry, something went wrong</span>
                </div>
            </center>
        </div>
  </div>
</div>

{% endblock %}