<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token }}" />
    {% load static %}

    <!-- HTML Meta Tags -->
    <title>Tidder</title>
    <meta name="description" content="Reddit Clone">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://complete-tick-cleanly.ngrok-free.app">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Tidder">
    <meta property="og:description" content="Reddit Clone">
    <meta property="og:image"
        content="https://opengraph.b-cdn.net/production/images/25785e68-de73-4761-b85d-d851e46e7e07.png?token=Cxtyc7nIE5T6XMeyCxNeai8tR6vjyQq2kJJhaDTHLfk&height=240&width=240&expires=33267304195">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="complete-tick-cleanly.ngrok-free.app">
    <meta property="twitter:url" content="https://complete-tick-cleanly.ngrok-free.app">
    <meta name="twitter:title" content="Tidder">
    <meta name="twitter:description" content="Reddit Clone">
    <meta name="twitter:image"
        content="https://opengraph.b-cdn.net/production/images/25785e68-de73-4761-b85d-d851e46e7e07.png?token=Cxtyc7nIE5T6XMeyCxNeai8tR6vjyQq2kJJhaDTHLfk&height=240&width=240&expires=33267304195">


    <script src="{% static 'js/tailwind.js'%}"></script>

    <!-- Flowbite -->
    <!-- <link rel="stylesheet" href="{% static 'css/flowbite.min.css'%}" /> -->
    <script src="{% static 'js/flowbite.min.js'%}"></script>

    
    <script src="{% static 'js/functions.js'%}"></script>

    {% block quill %} {% endblock %}

    <script>
        tailwind.config = {
            theme: {
                extend: {
                    // SLAPSOIL COLORS
                    colors: {
                        gray_1: "#3C4244",
                        gray_2: "#2B3336",
                        gray_3: "#ffffff33",
                        gray_4: "#A2A2A5",
                        white_1: "#F3F3F2",
                        white_2: "#717981",
                        white_3: "#889375",
                        white_4: "#F7F9F9",
                        button_red: "#C82C00",
                        button_red_hover: "#A61F00",
                        button_gray: "#E5EBEE",
                        button_gray_hover: "#DDE3E6",
                        button_blue: "#0A449B",
                        button_blue_hover: "#0A2F6C",
                        txt_color_1: "#131212",
                        txt_color_2: "#33363B",
                        txt_color_3: "#697075",
                        bg_1: "#F5F4F6",
                    },
                    keyframes: {
                        slideIn: {
                            '0%': { opacity: '0', transform: 'translateX(100%)' },
                            '100%': { opacity: '1', transform: 'translateX(0)' },
                        },
                    },
                    animation: {
                        slideIn: 'slideIn 0.3s ease-out forwards',
                    },
                },
            }
        };
    </script>
    {% block extra_head %}{% endblock %}
</head>

<body 
    class="
        transition-colors 
        [&::-webkit-scrollbar]:w-2
        [&::-webkit-scrollbar-track]:bg-gray-100
        [&::-webkit-scrollbar-thumb]:bg-gray-300
        text-gray-700
    ">
    {% include 'components/navbar.html'%}
    {% include 'components/image_modal.html'%}



    {% block content %} {% endblock %}

    <script>
        const postContents = document.querySelectorAll(".post-content");
        postContents.forEach((postContent) => {
            postContent.innerHTML = postContent.textContent;
            postContent.classList.add("line-clamp-50", "overflow-hidden", "text-ellipsis");
        });


        document.addEventListener("DOMContentLoaded", function () {
            const createdAtElements =
                document.querySelectorAll("[data-created-at]");
            for (const createdAtElement of createdAtElements) {
                const createdAt = createdAtElement.getAttribute("data-created-at");
                createdAtElement.textContent = timeAgo(createdAt);
            }


            const postItemImages = document.querySelectorAll(".post-content.post-item img");
            postItemImages.forEach((postImage) => {
                postImage.classList.add("w-64", "h-64", "object-cover", "rounded-lg");
                postImage.classList.remove("img-modal");
                delete postImage.dataset.modalTarget;
                delete postImage.dataset.modalToggle;
            });

            const postImages = document.querySelectorAll(".post-content img");
            postImages.forEach((postImage) => {
                postImage.classList.add("hover:cursor-pointer");
            });


            const eventDescriptions = document.querySelectorAll(".event-description");
            eventDescriptions.forEach((eventDescription) => {
                eventDescription.innerHTML = eventDescription.textContent;
                eventDescription.querySelectorAll("img").forEach((img) => {
                    img.classList.add("cursor-pointer");
                });
            });

            const recentPosts = localStorage.getItem("recent_posts");
            if (recentPosts) {
                const recentPostsArray = JSON.parse(recentPosts);
                const recentPostsContainer = document.getElementById("recent_posts");
                recentPostsArray.reverse().forEach(post => {
                    addRecentPostItem(post);
                });
            }

            document.querySelectorAll(".img-modal").forEach((img) => {
                img.dataset.modalTarget = "image-modal";
                img.dataset.modalToggle = "image-modal";

                img.addEventListener("click", function(){
                    document.getElementById("image-modal").querySelector("img").src = this.src;
                })
            });

        });
    </script>

</body>

</html>