<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css" />


    {% block quill %}
    {% endblock %}

    <script>
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>

    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        dark_1: '#0E1113',
                        dark_2: '#05090B',
                        dark_3: '#101214',
                        dark_4: '#333D42',
                        dark_5: "#161A1D",
                        dark_6: "#181C1F",
                        gray_1: '#3C4244',
                        gray_2: "#2B3336",
                        gray_3: "#ffffff33",
                        white_1: "#F3F3F2",
                        white_2: "#717981",
                        white_3: "#889375",
                        button_red: "#C82C00",
                        button_red_hover: "#A61F00",
                        button_gray: "#E5EBEE",
                        button_gray_hover: "#DDE3E6",
                        button_blue: "#0A449B",
                        button_blue_hover: "#0A2F6C",
                        txt_color_1: "#131212",
                        txt_color_2: "#33363B",
                        txt_color_3: "#697075",
                        bg_1: "#F5F4F6",
                    }
                }
            },
            darkMode: 'class',
        }
    </script>
    {% block extra_head %}{% endblock %}
</head>

<body class="dark:text-white dark:bg-dark_1 transition-colors">
    {% include 'components/navbar.html'%}
    <script>
        function validateEmail(email) {
            const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
            return emailPattern.test(email);
        }

        function setupRemoveFilePreview(button, previewElement, previewContainer, fileInput, fileInputContainer) {
            button.addEventListener("click", () => {
                if (previewContainer) {
                    previewContainer.classList.add('hidden');
                }
                if (fileInputContainer) {
                    fileInputContainer.classList.remove('hidden');
                }
                if (previewElement) {
                    previewElement.src = '';
                }
                fileInput.value = "";
            })
        }

        function setupFileInput(previewElement, previewContainer, fileInput, fileInputContainer) {
            fileInput.addEventListener("change", function (event) {
                var file = event.target.files[0];
                if (file) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        previewElement.src = e.target.result;
                        fileInputContainer.classList.add("hidden");
                        previewContainer.classList.remove("hidden");
                    };
                    reader.readAsDataURL(file);
                }
            });
        }

        function getCSRFToken() {
            return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        }

        function remove_class(document, class_name) {
            document.classList.remove(class_name);
        }

        function add_class(document, class_name) {
            document.classList.add(class_name);
        }

        function showTab(n, class_name, prev_button_id, next_button_id, step_class_name) {
            var x = document.getElementsByClassName(class_name);
            x[n].classList.remove("hidden")

            const prevBtn = document.getElementById(prev_button_id);
            const nextBtn = document.getElementById(next_button_id);

            if (n == 0) {
                prevBtn.classList.add("hidden")
            } else {
                prevBtn.classList.remove("hidden")
            }

            if (n == (x.length - 1)) {
                nextBtn.innerHTML = "Submit";
            } else {
                nextBtn.innerHTML = "Next";
            }
            if (step_class_name != null) {
                fixStepIndicator(n, step_class_name)
            }
        }

        // OPTIONAL
        function fixStepIndicator(n, step_class_name) {
            var i, x = document.getElementsByClassName(step_class_name);
            for (i = 0; i < x.length; i++) {
                x[i].className = x[i].className.replace(" active", "");
            }
            x[n].className += " active";
        }

        async function validate_form(tab_class_name, form_specific_validation_function, current_tab, step_class_name) {
            var x, y, i, valid = true;
            x = document.getElementsByClassName(tab_class_name);
            y = x[current_tab].getElementsByTagName("input");
            for (i = 0; i < y.length; i++) {
                current_valid = true
                if (y[i].classList.contains("optional")) {
                    continue
                }
                if (y[i].value == "") {
                    y[i].classList.add("ring-1", "ring-red-500", "ring-inset")
                    valid = false;
                    current_valid = false
                }

                if (form_specific_validation_function != null) {
                    const result = await form_specific_validation_function(valid, current_valid, y, i)
                    valid = result[0]
                    current_valid = result[1]
                }

                if (current_valid) {
                    y[i].classList.remove("ring-1", "ring-red-500", "ring-inset")
                }
            }

            if (valid && step_class_name != null) {
                document.getElementsByClassName(step_class_name)[current_tab].className += " finish";
            }
            return valid;
        }



        async function nextPrev(n, form_specific_validation_function, tab_class_name, form_id, prev_button_id, next_button_id, step_class_name, current_tab) {
            var x = document.getElementsByClassName(tab_class_name);
            if (n == 1 && !await validate_form(tab_class_name, form_specific_validation_function, current_tab, step_class_name)) return current_tab;

            x[current_tab].classList.add("hidden")
            current_tab = current_tab + n;

            if (current_tab >= x.length) {
                x[x.length - 1].classList.remove("hidden")
                document.getElementById(form_id).submit();
                nextBtn.disabled = true;
                return false;
            }
            showTab(current_tab, tab_class_name, prev_button_id, next_button_id, step_class_name);
            return current_tab
        }
    </script>

    {% block content %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>

</html>