{% extends 'base.html' %} {% block content %}

<div class="relative top-[10vh] flex w-full flex-row">
  {% include 'components/leftbar.html'%}

  <div class="relative left-[15%] flex w-[85%] flex-row gap-10 p-10">
    <div class="w-[75%]">{% include 'components/post/posts.html' %}</div>

    <div class="w-[25%]">
      <div
        class="bg-bg_1 sticky top-[15vh] inline-block flex h-min max-h-[85vh] max-w-sm flex-col gap-3 overflow-auto rounded-lg border p-6 shadow-md
        [&::-webkit-scrollbar]:w-2
        [&::-webkit-scrollbar-track]:bg-gray-100
        [&::-webkit-scrollbar-thumb]:bg-gray-300
        "
      >
        <div class="flex w-full flex-row justify-between text-sm font-semibold">
          <h1 class="text-base font-bold">Recent Posts</h1>
          <button onclick="clearRecentPost()">Clear</button>
        </div>
        <div id = "recent_posts" class="flex flex-col gap-2">
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
