{% load static %}
{% load env_extras %}
{% load utils %}

<div
    class="flex flex-col gap-2 overflow-auto p-3 left-0 text-sm top-[10vh] h-[90vh] w-[15%] fixed border-r border-dark_3 dark:bg-dark_3 dark:border-gray_1 shadow-md">
    <div>
        <a href="{% url 'account:dashboard' %}"
            class="hover:bg-button_gray_hover dark:hover:bg-gray_1 flex flex-row gap-3 justify-start items-center px-3 py-2 rounded-lg w-full">
            <p>Home</p>
        </a>

        <button
            class="hover:bg-button_gray_hover dark:hover:bg-gray_1 flex flex-row gap-3 justify-start items-center px-3 py-2 rounded-lg w-full">
            <p>Popular</p>
        </button>
    </div>

    <hr class="border-r border-[#ffffff33]" />

    {% if user.is_authenticated%}
    <div>
        <input type="checkbox" id="toggle-communities" class="peer hidden" checked
            onchange="toggle_dropdown_cap(event)" />
        <label for="toggle-communities"
            class="hover:bg-button_gray_hover dark:hover:bg-gray_1 flex flex-row justify-between items-center px-3 py-2 rounded-lg w-full cursor-pointer z-40">
            <p>Communities</p>
            <svg fill="currentColor" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg"
                class="peer-checked:rotate-180 rotate-0 transition-transform">
                <path
                    d="M10 13.125a.624.624 0 0 1-.442-.183l-5-5 .884-.884L10 11.616l4.558-4.558.884.884-5 5a.624.624 0 0 1-.442.183Z">
                </path>
            </svg>
        </label>

        <div
            class="peer-checked:max-h-[1000px] peer-checked:opacity-100 max-h-0 opacity-0 transition-transform duration-300 overflow-hidden flex flex-col gap-2">
            <button
                class="hover:bg-button_gray_hover dark:hover:bg-gray_1 flex flex-row gap-3 justify-start items-center px-3 py-2 rounded-lg w-full"
                data-modal-target="create_community_modal" data-modal-toggle="create_community_modal">
                <svg fill="currentColor" height="20" viewBox="0 0 20 20" width="16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 9.375h-8.375V1h-1.25v8.375H1v1.25h8.375V19h1.25v-8.375H19v-1.25Z"></path>
                </svg>
                <p>Create Community</p>
            </button>

            {% for community in user_communities%}
            <a href="{% url 'community:community' community.name %}"
                class="hover:bg-button_gray_hover flex flex-row gap-2 justify-start items-center px-3 py-1 rounded-lg w-full dark:hover:bg-gray_1">
                <div class="rounded-full w-[30px] h-[30px] bg-gray-200 border border-black">
                    {% if community.avatar %}
                        {% if community.avatar|startswith:'https' %}
                            <img class="w-full h-full rounded-full object-cover" src="{{community.avatar}}" alt="{{ community.name }}">
                        {% else %}
                            <img class="w-full h-full rounded-full object-cover" src="{% static community.avatar %}" alt="{{ community.name }}">
                        {% endif %}
                    {% endif %}
                </div>
                <p>r/{{ community.name }}</p>
            </a>
            {% endfor %}
        </div>
    </div>
    {%endif%}
</div>
{% if user.is_authenticated %}
{% include 'components/community/create_community.html'%}
{% endif %}

<script>
    function toggle_dropdown_cap(event) {
        const target = event.target;
        const nextSibling = target.nextElementSibling;
        const cap = nextSibling.querySelector("svg");

        if (target.checked) {
            cap.classList.add("rotate-0");
            cap.classList.remove("rotate-180");
        } else {
            cap.classList.add("rotate-180");
            cap.classList.remove("rotate-0");
        }
    }
</script>