{% load static %}
{% load utils %}
<nav
    class="shadow-md text-md fixed top-0 left-0 flex flex-row justify-between w-full p-3 px-6 items-center bg-white_1 border-b z-20 h-[10vh] dark:bg-dark_3 dark:border-gray_1">
    <div class="flex flex-row items-center gap-2">
        <a href="{% url 'account:dashboard' %}" class="font-bold text-2xl flex flex-row gap-1 items-center">
            <svg class="text-black" width="35" height="28" viewBox="0 0 37 30" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M34.4627 6H30.8523V19.5H7.38474V22.5C7.38474 23.325 8.19708 24 9.18994 24H29.0471L36.2679 30V7.5C36.2679 6.675 35.4556 6 34.4627 6ZM27.2419 15V1.5C27.2419 0.675 26.4296 0 25.4367 0H1.96914C0.976281 0 0.16394 0.675 0.16394 1.5V22.5L7.38474 16.5H25.4367C26.4296 16.5 27.2419 15.825 27.2419 15Z"
                    class="fill-black dark:fill-white" />
            </svg>
            Tidder
        </a>
    </div>
    {% include 'components/search.html' %}


    <div class="flex flex-row gap-5 items-center relative">
        {% if user.is_authenticated %}
        <button>
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M11.61 19.872a10.013 10.013 0 0 0 6.51-4.035A9.999 9.999 0 0 0 12.275.264c-1.28-.3-2.606-.345-3.903-.132a10.05 10.05 0 0 0-8.25 8.311 9.877 9.877 0 0 0 1.202 6.491l-1.24 4.078a.727.727 0 0 0 .178.721.72.72 0 0 0 .72.19l4.17-1.193A9.87 9.87 0 0 0 9.998 20c.54 0 1.079-.043 1.612-.128ZM1.558 18.458l1.118-3.69-.145-.24A8.647 8.647 0 0 1 1.36 8.634a8.778 8.778 0 0 1 7.21-7.27 8.765 8.765 0 0 1 8.916 3.995 8.748 8.748 0 0 1-2.849 12.09 8.763 8.763 0 0 1-3.22 1.188 8.68 8.68 0 0 1-5.862-1.118l-.232-.138-3.764 1.076ZM6.006 9a1.001 1.001 0 0 0-.708 1.707A1 1 0 1 0 6.006 9Zm4.002 0a1.001 1.001 0 0 0-.195 1.981 1 1 0 1 0 .195-1.98Zm4.003 0a1.001 1.001 0 1 0 0 2.003 1.001 1.001 0 0 0 0-2.003Z">
                </path>
            </svg>
        </button>


        <a href="{% url 'post:submit' %}" class="flex flex-row gap-1 items-center">
            <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 9.375h-8.375V1h-1.25v8.375H1v1.25h8.375V19h1.25v-8.375H19v-1.25Z"></path>
            </svg>
            <h1>Create</h1>
        </a>

        <button>
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M11 18h1a2 2 0 0 1-4 0h3Zm8-3.792v.673A1.12 1.12 0 0 1 17.883 16H2.117A1.12 1.12 0 0 1 1 14.881v-.673a3.947 3.947 0 0 1 1.738-3.277A2.706 2.706 0 0 0 3.926 8.7V7.087a6.07 6.07 0 0 1 12.138 0l.01 1.613a2.7 2.7 0 0 0 1.189 2.235A3.949 3.949 0 0 1 19 14.208Zm-1.25 0a2.7 2.7 0 0 0-1.188-2.242A3.956 3.956 0 0 1 14.824 8.7V7.088a4.819 4.819 0 1 0-9.638 0v1.615a3.956 3.956 0 0 1-1.738 3.266 2.7 2.7 0 0 0-1.198 2.239v.542h15.5v-.542Z">
                </path>
            </svg>
        </button>


        <button id="btn_drop_down_profile" class="w-[30px] h-[30px] rounded-full" type="button"
            data-dropdown-toggle="drop_down_profile">
            {% if user.avatar%}
                {% if user.avatar|startswith:'https' %}
                    <img class="w-[30px] h-[30px] rounded-full object-cover" src="{{user.avatar}}" alt="{{user.username}}">
                {% else %}
                    <img class="w-[30px] h-[30px] rounded-full object-cover" src="{% static user.avatar %}" alt="{{ user.username}}">
                {% endif %}
            {% else %}
            <div class="w-full h-full bg-black rounded-full"></div>
            {% endif %}
            <div class="relative w-[8px] h-[8px] bg-green-400 rounded-full bottom-2 left-6"></div>
        </button>

        <div id="drop_down_profile" class="z-10 w-56 hidden bg-white rounded-md shadow dark:bg-dark_6">
            <ul class="divide-y divide-gray-400 pt-3 px-3 text-sm text-gray-700 dark:text-gray-200"
                aria-labelledby="btn_drop_down_profile">
                <li class="h-10 ">
                    <a href="{% url 'account:user_profile' user %}" class="flex flex-row gap-2 items-center">
                        <div class="w-[30px] h-[30px] rounded-full">
                            {% if user.avatar%}
                                {% if user.avatar|startswith:'https' %}
                                    <img class="w-[30px] h-[30px] rounded-full object-cover" src="{{user.avatar}}" alt="{{user.username}}">
                                {% else %}
                                    <img class="w-[30px] h-[30px] rounded-full object-cover" src="{% static user.avatar %}" alt="{{ user.username}}">
                                {% endif %}
                            {% else %}
                            <div class="w-full h-full bg-black rounded-full"></div>
                            {% endif %}
                            <div class="relative w-[8px] h-[8px] bg-green-400 rounded-full bottom-2 left-6"></div>
                        </div>

                        <div class="flex flex-col justify-center text-[11px]">
                            <p>View Profile</p>
                            <p>u/{{ user.username }}</p>
                        </div>
                    </a>
                </li>
                <li class="h-10">
                    <button id="theme-toggle" type="button"
                        class="w-full h-full flex flex-row justify-between items-center">
                        <p>Theme</p>
                        <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                        </svg>
                        <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                                fill-rule="evenodd" clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </li>
                <li class="h-10">
                    <form method="POST" action="{% url 'account:logout' %}"
                        class=" h-full flex flex-row gap-2 items-center">
                        {% csrf_token %}
                        <button class=" h-full flex flex-row gap-2 items-center" method="post">
                            <svg fill="currentColor" height="20" icon-name="logout-outline" viewBox="0 0 20 20"
                                width="20" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11.991 10.625H1v-1.25h10.991l-1.933-1.933.884-.884 3 3a.624.624 0 0 1 0 .884l-3 3-.884-.884 1.933-1.933ZM15.375 1h-9.75A2.629 2.629 0 0 0 3 3.625v.792h1.25v-.792A1.377 1.377 0 0 1 5.625 2.25h9.75a1.377 1.377 0 0 1 1.375 1.375v12.75a1.377 1.377 0 0 1-1.375 1.375h-9.75a1.377 1.377 0 0 1-1.375-1.375v-.792H3v.792A2.63 2.63 0 0 0 5.625 19h9.75A2.63 2.63 0 0 0 18 16.375V3.625A2.63 2.63 0 0 0 15.375 1Z">
                                </path>
                            </svg>
                            <p>Logout</p>
                        </button>
                    </form>
                </li>
            </ul>
        </div>

        {% else %}
        <button data-modal-target="sign_in_modal" data-modal-toggle="sign_in_modal"
            class="text-sm font-medium rounded-2xl px-3 py-2 w-full bg-button_red text-white font-md transition-all duration-300 ease-in-out hover:bg-button_red_hover hover:text-white"
            type="button">
            Log in
        </button>

        {% endif %}
    </div>
</nav>

{% if not request.user.is_authenticated %}
    {%include 'components/account/sign_in.html'%}
    {%include 'components/account/sign_up.html'%}
{% endif %}

<script>
    function toggleProfileOptions() {
        var profileOptions = document.getElementById('profileOptions');
        if (profileOptions.classList.contains('hidden')) {
            profileOptions.classList.remove('hidden', 'opacity-0');
            profileOptions.classList.add('block', 'opacity-100');
        } else {
            profileOptions.classList.remove('block', 'opacity-100');
            profileOptions.classList.add('hidden', 'opacity-0');
        }
    }


    var themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
    var themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');

    // Change the icons inside the button based on previous settings
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        themeToggleDarkIcon.classList.remove('hidden');
    } else {
        themeToggleLightIcon.classList.remove('hidden');
    }

    var themeToggleBtn = document.getElementById('theme-toggle');

    themeToggleBtn.addEventListener('click', function () {
        // toggle icons inside button
        themeToggleDarkIcon.classList.toggle('hidden');
        themeToggleLightIcon.classList.toggle('hidden');
        // if set via local storage previously
        if (localStorage.getItem('color-theme')) {
            if (localStorage.getItem('color-theme') === 'light') {
                document.documentElement.classList.add('dark');
                localStorage.setItem('color-theme', 'dark');
            } else {
                document.documentElement.classList.remove('dark');
                localStorage.setItem('color-theme', 'light');
            }

            // if NOT set via local storage previously
        } else {
            if (document.documentElement.classList.contains('dark')) {
                document.documentElement.classList.remove('dark');
                localStorage.setItem('color-theme', 'light');
            } else {
                document.documentElement.classList.add('dark');
                localStorage.setItem('color-theme', 'dark');
            }
        }
    });
</script>