<div class="max-w-md mx-auto w-[40%]">
    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative text-dark_1 dark:text-white_1">
        <div class="relative flex flex-row gap-2 z-20">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg width="16" height="16" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M22.5556 21.6453L17.3328 16.4213C19.0013 14.4881 19.8551 11.9832 19.7147 9.43341C19.5742 6.8836 18.4505 4.48761 16.5798 2.74933C14.7091 1.01105 12.2371 0.0659417 9.68389 0.112776C7.13065 0.159609 4.69506 1.19473 2.88934 3.00045C1.08362 4.80617 0.0484949 7.24176 0.00166105 9.795C-0.0451728 12.3482 0.899934 14.8202 2.63821 16.6909C4.3765 18.5616 6.77249 19.6854 9.3223 19.8258C11.8721 19.9662 14.377 19.1124 16.3102 17.4439L21.533 22.6667L22.5556 21.6453ZM1.50377 10.0048C1.50377 8.3454 1.99586 6.72325 2.91781 5.3435C3.83976 3.96376 5.15016 2.8884 6.68329 2.25342C8.21642 1.61844 9.90341 1.45236 11.5309 1.77618C13.1585 2.1 14.6534 2.89918 15.8267 4.07265C17 5.24612 17.799 6.74117 18.1226 8.36874C18.4462 9.9963 18.2799 11.6833 17.6447 13.2163C17.0095 14.7494 15.9339 16.0596 14.5541 16.9814C13.1742 17.9031 11.552 18.395 9.89256 18.3948C7.66836 18.392 5.53606 17.5072 3.96342 15.9343C2.39078 14.3614 1.50622 12.229 1.50377 10.0048Z"
                        class="fill-black dark:fill-white_1" />
                </svg>
            </div>

            <input id="default-search"
                class="border border-gray-900 block w-full p-2 ps-8 text-xs text-dark_1 rounded-2xl  bg-button_gray hover:bg-button_gray_hover dark:bg-dark_4 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white_1 pl-8"
                placeholder="Search" required />
        </div>

        <div id="result_container"
            class="absolute z-10 w-full bg-button_gray dark:bg-dark_4 dark:border-gray-600 rounded-b-2xl overflow-y-auto h-max max-h-[300px] hidden px-3">
            <div class="container hidden p-2">
                <h1 class="font-bold">Users</h1>
                <div id="search_users" class="flex flex-col gap-2"></div>
            </div>

            <div class="container hidden p-2">
                <h1 class="font-bold">Communities</h1>
                <div id="search_communities" class="flex flex-col gap-2"></div>
            </div>

            <div class="container hidden p-2">
                <h1 class="font-bold">Posts
            </div>
            <div id="search_posts" class="flex flex-col gap-2 px-4"></div>
        </div>

    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        let search = false;
        let timer = 500;
        let cooldown = 500;
        let input_search = document.getElementById('default-search')
        let result_container = document.getElementById('result_container')

        let search_users_container = document.getElementById('search_users')
        let search_communities_container = document.getElementById('search_communities')
        let search_posts_container = document.getElementById('search_posts')

        input_search.addEventListener('input', async function (e) {
            search = true
            timer = cooldown;

            if (e.target.value.trim() == '') {
                search = false
                result_container.querySelectorAll('.container').forEach(container => {
                    container.classList.add('hidden')
                })
            }
        })

        input_search.addEventListener('focusout', () => {
            setTimeout(() => {
                search = false
                result_container.classList.add('hidden')
                input_search.classList.remove('rounded-b-none')
            }, 500);
        })

        input_search.addEventListener('focusin', (e) => {
            if (search_users_container.innerHTML.trim() || search_communities_container.innerHTML.trim() || search_posts_container.innerHTML.trim()) {
                result_container.classList.remove('hidden')
                input_search.classList.add('rounded-b-none')
            }

            if (input_search.value.trim() != '') {
                getResults();
            }
        })

        setInterval(() => {
            if (search)
                timer -= 500 
            if (timer == 0 && search)
                getResults();
        }, 500);


        function getResults() {

            fetch('http://localhost:8000/account/search/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    'search': input_search.value
                })
            })
                .then(async response => {
                    search = false;
                    response = await response.json()
                    let users = response.users
                    let communities = response.communities
                    let posts = response.posts

                    if (users.length ^ communities.length ^ search_posts.length != 0) {
                        result_container.classList.remove('hidden')
                        input_search.classList.add('rounded-b-none')
                    }

                    search_users_container.innerHTML = ''
                    if (users.length > 0) {
                        search_users_container.innerHTML += users.map(user => {
                            return `
                                <a href = "/account/profile/${user.username}" class='flex items-center gap-2 hover:bg-button_gray_hover py-2 dark:hover:bg-gray_2'>
                                    ${user.avatar ? `<img src="${user.avatar.startsWith('http') ? user.avatar : '/static/' + user.avatar}" class="w-6 h-6 rounded-full">` : '<svg class = "w-6 h-6 rounded-full border border-black" viewBox="0 0 61 61" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M30.8291 27.064C37.0423 27.064 42.0791 22.0272 42.0791 15.814C42.0791 9.60078 37.0423 4.56396 30.8291 4.56396C24.6159 4.56396 19.5791 9.60078 19.5791 15.814C19.5791 22.0272 24.6159 27.064 30.8291 27.064Z" fill="black"/><path d="M53.3291 45.814C53.3291 39.6006 48.2925 34.564 42.0791 34.564H19.5791C13.3659 34.564 8.3291 39.6006 8.3291 45.814V57.064H53.3291V45.814Z" fill="black"/></svg>'
                                }
                                     <p class="font-semibold text-xs">${user.username}</p>
                                </a>
                               `
                        }).join('')
                        result_container.querySelectorAll('.container')[0].classList.remove('hidden')
                    } else {
                        result_container.querySelectorAll('.container')[0].classList.add('hidden')
                    }

                    search_communities_container.innerHTML = ''
                    if (communities.length > 0) {
                        search_communities_container.innerHTML += communities.map(community => {
                            return `
                                <a href = "/community/${community.name}" class='flex items-center gap-2 hover:bg-button_gray_hover py-2 dark:hover:bg-gray_2'>
                                    ${community.avatar ? `<img src="${community.avatar.startsWith('http') ? community.avatar : '/static/' + community.avatar}" class="w-6 h-6 rounded-full">` : '<svg class = "w-6 h-6 rounded-full border border-black" viewBox="0 0 61 61" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M30.8291 27.064C37.0423 27.064 42.0791 22.0272 42.0791 15.814C42.0791 9.60078 37.0423 4.56396 30.8291 4.56396C24.6159 4.56396 19.5791 9.60078 19.5791 15.814C19.5791 22.0272 24.6159 27.064 30.8291 27.064Z" fill="black"/><path d="M53.3291 45.814C53.3291 39.6006 48.2925 34.564 42.0791 34.564H19.5791C13.3659 34.564 8.3291 39.6006 8.3291 45.814V57.064H53.3291V45.814Z" fill="black"/></svg>'
                                }
                                     <p class="font-semibold text-xs">${community.name}</p>
                                </a>
                               `
                        }).join('')
                        result_container.querySelectorAll('.container')[1].classList.remove('hidden')
                    } else {
                        result_container.querySelectorAll('.container')[1].classList.add('hidden')
                    }

                    search_posts_container.innerHTML = "";
                    if (posts.length > 0) {
                        search_posts_container.innerHTML += posts.map(post => {
                            return `
                                <a href = "/post/${post.id}" class='flex items-center gap-2 hover:bg-button_gray_hover py-2 dark:hover:bg-gray_2'>
                                    <p class="font-semibold text-xs">${post.title}</p>
                                </a>
                               `
                        }).join('')
                        result_container.querySelectorAll('.container')[2].classList.remove('hidden')
                    } else {
                        result_container.querySelectorAll('.container')[2].classList.add('hidden')
                    }

                })
        }
    })
</script>
