<div class = "posts-container flex flex-col gap-4">
  {% for post in posts %}
    <div
        data-post-id = "{{post.id}}"
        data-post-title = "{{post.title}}"
        data-post-content = "{{post.content}}"

        onclick='event.stopPropagation(); event.stopImmediatePropagation();  window.location.href=`{% url "post:post" post.id %}`; addRecentPost(this.dataset.postId, this.dataset.postTitle, this.dataset.postContent);'

        class="flex flex-col border dark:border-white_2 p-3 max-h-[400px] rounded-2xl hover:bg-white_1 dark:hover:bg-dark_3 cursor-pointer shadow-md hover:shadow-xl transition-all duration-300 ease-in-out relative"
        id="{{post.id}}"
    >
        {% include 'components/post/post_item.html' with post=post %}
    </div>
  {% endfor %}
</div>

{% if user.is_authenticated %}
    {% include 'components/modals/delete_post_modal.html' %}
    {% include 'components/modals/report_post_modal.html' %}
{% endif %}