{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load utils %}

<link rel="stylesheet" href="{% static 'css/quill.snow.css' %}" />
<link rel="stylesheet" href="{% static 'css/quill.bubble.css' %}" />

{% include 'components/post/delete_post_modal.html' %}

<div id="{{ post.id }}">
    <div class="flex flex-row w-full relative top-[10vh]">
        {% include 'components/leftbar.html'%}
        <div class="p-10 w-[85%] relative left-[15%] ">
            <div class="flex flex-row justify-between">
                <div class="w-full flex flex-row justify-between items-start px-8">
                    <div class="flex flex-row gap-4 max-w-2xl">
                        <div class="flex flex-col gap-4">
                            <button onclick="history.back()" type="button"
                                class="bg-button_gray hover:bg-button_gray_hover dark:bg-dark_2 dark:hover:bg-gray_2 rounded-full w-[40px] h-[40px] py-2 px-2 flex justify-center items-center">
                                <svg pl="" fill="currentColor" height="16" icon-name="left-outline" viewBox="0 0 20 20"
                                    width="16" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="m13.058 19.442-9-9a.624.624 0 0 1 0-.884l9-9 .884.884L5.384 10l8.558 8.558-.884.884Z">
                                    </path>
                                </svg>
                            </button>

                            {% if request.user == post.user %}
                            <a href="{% url 'post:edit_post' post.id %}"
                                class="bg-button_gray hover:bg-button_gray_hover dark:bg-dark_2 dark:hover:bg-gray_2 rounded-full w-[40px] h-[40px] py-2 px-2 flex justify-center items-center">
                                {% include 'svg/pencil.html'%}
                            </a>

                            <button onclick="event.stopPropagation(); document.querySelector('#delete-post-modal').querySelector('input[name=post_id]').value = '{{post.id}}'"
                                data-modal-target="delete-post-modal" data-modal-toggle="delete-post-modal"
                                class="bg-button_gray hover:bg-button_gray_hover dark:bg-dark_2 dark:hover:bg-gray_2 rounded-full w-[40px] h-[40px] py-2 px-2 flex justify-center items-center">
                                {% include 'svg/trashcan.html'%}
                            </button>

                            {% endif %}
                        </div>
                        <div class="flex flex-col gap-6">
                            <div class="flex flex-col gap-3">
                                <div class="flex flex-row items-center gap-2 w-full">
                                    <div class="rounded-full w-10 h-10 bg-gray-200">
                                        {% if post.community.avatar|startswith:'https'%}
                                        <img class="w-full h-full rounded-full object-cover"
                                            src="{{ post.community.avatar }}" alt="Community avatar" />
                                        {% else %}
                                        <img class="w-full h-full rounded-full object-cover"
                                            src="{% static post.community.avatar %}" alt="Community avatar" />
                                        {% endif %}
                                    </div>
                                    <div class="flex flex-col items-start justify-end gap-0 leading-none">
                                        <a href="{% url 'community:community' post.community.name %}"
                                            class="font-medium text-sm">r/{{ post.community.name }}</a>
                                        <!-- TODO -->
                                        <a href="{% url 'account:user_profile' post.user.username %}" class="text-xs">{{post.user }}</a>
                                    </div>
                                    <p>•</p>
                                    <p data-created-at="{{ post.created_at }}">{{ post.created_at }}</p>
                                </div>
                                <h1 class="font-bold text-xl">{{ post.title }}</h1>
                            </div>
                            <span class="ql-editor post-content">{{ post.content }}</span>
                            <!-- VOTES AND COMMENTS -->
                            <!-- VOTES-->

                            <div class="flex flex-row gap-2 mt-4">
                                <div id="vote_container"
                                    class="flex flex-row gap-2 px-3 py-1 rounded-xl bg-button_gray {% if post in user_upvoted_posts%}bg-red{%endif%} {% if post in user_downvoted_posts%}bg-blue{%endif%} ">
                                    <button onclick="event.stopPropagation(); vote(this, '{{post.id}}', 'upvote')" {% if not user.is_authenticated %} disabled {% endif %}>
                                        <svg rpl="" fill="currentColor" height="16" icon-name="upvote-outline" viewBox="0 0 20 20" width="16" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 19c-.072 0-.145 0-.218-.006A4.1 4.1 0 0 1 6 14.816V11H2.862a1.751 1.751 0 0 1-1.234-2.993L9.41.28a.836.836 0 0 1 1.18 0l7.782 7.727A1.751 1.751 0 0 1 17.139 11H14v3.882a4.134 4.134 0 0 1-.854 2.592A3.99 3.99 0 0 1 10 19Zm0-17.193L2.685 9.071a.251.251 0 0 0 .177.429H7.5v5.316A2.63 2.63 0 0 0 9.864 17.5a2.441 2.441 0 0 0 1.856-.682A2.478 2.478 0 0 0 12.5 15V9.5h4.639a.25.25 0 0 0 .176-.429L10 1.807Z"></path>
                                        </svg> 
                                    </button>
                                    <h1 class="vote_count {% if post in user_upvoted_posts or post in user_downvoted_posts%}text-white{%endif%}"
                                        data-voted="{% if post in user_upvoted_posts%}upvote{%elif post in user_downvoted_posts %}downvote{%endif%}">
                                        {{ post|get_vote_counts}}</h1>
                                    <button onclick="event.stopPropagation(); vote(this, '{{post.id}}', 'downvote')" {% if not user.is_authenticated %} disabled {% endif %}>
                                        <svg rpl="" fill="currentColor" height="16" icon-name="downvote-outline" viewBox="0 0 20 20" width="16" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M10 1c.072 0 .145 0 .218.006A4.1 4.1 0 0 1 14 5.184V9h3.138a1.751 1.751 0 0 1 1.234 2.993L10.59 19.72a.836.836 0 0 1-1.18 0l-7.782-7.727A1.751 1.751 0 0 1 2.861 9H6V5.118a4.134 4.134 0 0 1 .854-2.592A3.99 3.99 0 0 1 10 1Zm0 17.193 7.315-7.264a.251.251 0 0 0-.177-.429H12.5V5.184A2.631 2.631 0 0 0 10.136 2.5a2.441 2.441 0 0 0-1.856.682A2.478 2.478 0 0 0 7.5 5v5.5H2.861a.251.251 0 0 0-.176.429L10 18.193Z"></path>
                                        </svg>
                                    </button>
                                </div>

                                <!-- COMMENTS -->
                                <div class="px-2 py-1 rounded-xl bg-button_gray hover:bg-button_gray_hover">
                                    <div class="flex flex-row gap-2">
                                        <button onclick="comment('{{post.id}}')" class="z-50" {% if not user.is_authenticated %} disabled {% endif %}>
                                        </button>
                                        <button {% if not user.is_authenticated %} disabled {% endif %}>
                                            <svg rpl="" aria-hidden="true" class="icon-comment" fill="currentColor" height="20" icon-name="comment-outline" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10 19H1.871a.886.886 0 0 1-.798-.52.886.886 0 0 1 .158-.941L3.1 15.771A9 9 0 1 1 10 19Zm-6.549-1.5H10a7.5 7.5 0 1 0-5.323-2.219l.54.545L3.451 17.5Z"></path>
                                            </svg>
                                        </button>
                                        <h1 id="comment_count">{{ post|get_comment_counts}}</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full mt-2 rounded-lg border border-gray-300 bg-white-500 overflow-hidden">
                                <textarea id="commentBox" placeholder="Add a comment..."
                                    class="w-full p-2 transition-all h-10 resize-none"
                                    style="width: 100%; border: none; outline: none; padding: 10px; resize: none; min-height: 80px; box-shadow: none;"
                                    onfocus="document.getElementById('buttonContainer').classList.remove('hidden'); this.parentElement.classList.add('border-gray-500')"
                                    onblur="this.parentElement.classList.remove('border-gray-500')"></textarea>

                                <div id="buttonContainer"
                                    class="hidden justify-end p-2.5 border-t-none bg-white transition-all float-right">
                                    <button
                                        style="margin-right: 10px; padding: 5px 10px; border: none; background-color: white; border-radius: 15px;"
                                        class="inline-flex items-center px-2 py-1 bg-gray-200 border border-gray-300 rounded-full hover:bg-gray-300 mr-2 text-sm"
                                        onclick="cancelComment()">
                                        Cancel
                                    </button>

                                    <button
                                        style="padding: 5px 10px; border: none; background-color: #1a73e8; color: white; border-radius: 15px;"
                                        class="inline-flex items-center px-2 py-1 bg-blue-600 text-white rounded-full hover:bg-blue-700 text-sm"
                                        onclick="submitComment('{{post.id}}')">
                                        Comment
                                    </button>
                                </div>
                            </div>

                            <!-- comment section wiggy-->
                            <h3>Comments:</h3>
                            {% include 'components/post/comments.html' with post=post root_comments=root_comments %}
                        </div>
                    </div>
                    {% include 'components/community/community_right_bar.html' with community=post.community%}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script>
    function cancelComment() {
        document.getElementById('commentTextarea').value = '';
    }

    async function vote(button, postId, voteType) {
        await fetch(`/post/vote/${postId}/${voteType}`, {
            method: "POST",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
            },
        }).then(async (response) => {
            const data = await response.json();

            let vote_count = document.getElementById(postId).querySelector(".vote_count");
            let current_vote_count = parseInt(vote_count.textContent, 10);

            voted = vote_count.dataset.voted
            const vote_container = document.getElementById('vote_container')

            if (voted == "upvote") {
                if (voteType == "upvote") {
                    current_vote_count -= 1
                    vote_count.dataset.voted = ""
                    vote_container.classList.remove('bg-red')
                    vote_container.classList.remove('text-white')
                    vote_container.classList.add('text-black')
                    vote_container.querySelectorAll('path').forEach(path => {
                        path.setAttribute('fill', 'black')
                    })
                } else {
                    current_vote_count -= 2
                    vote_count.dataset.voted = "downvote"
                    vote_container.classList.add('bg-blue')
                    vote_container.classList.remove('bg-red')
                    vote_container.classList.add('text-white')
                    vote_container.querySelectorAll('path').forEach(path => {
                        path.setAttribute('fill', 'white')
                    })
                }
            } else if (voted == "downvote") {
                if (voteType == "downvote") {
                    current_vote_count += 1
                    vote_count.dataset.voted = ""
                    vote_container.classList.remove('bg-blue')
                    vote_container.classList.remove('text-white')
                    vote_container.classList.add('text-black')
                    vote_container.querySelectorAll('path').forEach(path => {
                        path.setAttribute('fill', 'black')
                    })
                } else {
                    current_vote_count += 2
                    vote_count.dataset.voted = "upvote"
                    vote_container.classList.add('bg-red')
                    vote_container.classList.remove('bg-blue')
                    vote_container.classList.add('text-white')
                    vote_container.querySelectorAll('path').forEach(path => {
                        path.setAttribute('fill', 'white')
                    })
                }
            } else {
                if (voteType == "downvote") {
                    current_vote_count -= 1
                    vote_count.dataset.voted = "downvote"
                    vote_container.classList.add('bg-blue')
                } else {
                    current_vote_count += 1
                    vote_count.dataset.voted = "upvote"
                    vote_container.classList.add('bg-red')
                }
                vote_container.classList.add('text-white')
                vote_container.querySelectorAll('path').forEach(path => {
                    path.setAttribute('fill', 'white')
                })
            }
            vote_count.textContent = current_vote_count
        });
    }

    async function submitComment(postId, parentId = null) {
    // Get the correct comment box based on parentId
    const commentBox = parentId ? document.getElementById(`commentBox-${parentId}`) : document.getElementById("commentBox");

    if (commentBox.value.trim() === "") {
        alert("Comment box has no value");
        return;
    }

    // Send the POST request to submit the comment
    try {
        let data = new FormData();
        data.append('comment', commentBox.value);
        if (parentId) {
            data.append('parent_id', parentId); // Include parent ID if replying to a comment
        }

        const response = await fetch(`/post/comment/${postId}`, {
            method: "POST",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}", // Ensure CSRF token is correctly handled
            },
            body: data
        });

        if (response.ok) {
            const data = await response.json(); // Assuming the response contains the new comment details
            const commentsSection = document.getElementById(`comments-${postId}`);
            commentBox.value = ""; // Clear the comment box after submission

            // Check if comments section exists
            if (!commentsSection) {
                console.error(`Comments section for post ${postId} not found`);
                return;
            }

            const newCommentItem = document.createElement("div");
            newCommentItem.setAttribute("id", data.id);
            const created_at = timeAgo(data.created_at);


            // Construct the new comment item HTML
            newCommentItem.innerHTML = `
                <div id="${data.id}" class="flex flex-col gap-2 ${parentId ? 'border-l-2 pl-2' : ''}">
                    <div class="flex flex-row gap-2 items-start relative">
                        <div class="w-[30px] h-[30px] rounded-full relative">
                        {% if comment.user.avatar %}
                            {% if comment.user.avatar|slice:":5" == "https" %}
                                <img class="w-[30px] h-[30px] rounded-full object-cover" 
                                     src="{{ comment.user.avatar }}" 
                                     alt="{{ comment.user.username }}">
                            {% else %}
                                <img class="w-[30px] h-[30px] rounded-full object-cover" 
                                     src="{% static comment.user.avatar %}" 
                                     alt="{{ comment.user.username }}">
                            {% endif %}
                        {% else %}
                            <div class="w-full h-full bg-black rounded-full"></div>
                        {% endif %}
                    </div>
                        <span class="flex flex-row gap-1 items-start">
                            <a href="{% url 'account:user_profile' post.user.username %}" class="font-semibold text-sm leading-none">{{ post.user.username }}</a>
                            <p class="text-xs">•</p>
                            <p data-created-at="${timeAgo(data.created_at)}" class="font-semibold text-xs">${timeAgo(data.created_at)}</p>
                        </span>
                    </div>
                    <p class="text-sm">${data.content}</p> <!-- Add the content of the comment -->
                    <div class="flex flex-row gap-2 mt-1">
                        <button class="text-xs text-pink-500 reply-button" 
                                data-parent-id="${data.id}"
                                onclick="showReplyBox('${data.id}')">
                            Reply
                        </button>
                        <button class="text-xs text-green-500 edit-button" 
                                data-comment-id="${data.id}">
                            Edit
                        </button>
                        <button class="text-xs text-red-500 delete-button" 
                                data-comment-id="${data.id}">
                            Delete
                        </button>
                    </div>
                 </div>
                </div?
            `;

            // Append the new comment to the appropriate section
            if (parentId) {
                const parentComment = document.getElementById(parentId);
                if (parentComment) {
                    const childCommentsContainer = parentComment.querySelector('.child-comments');
                    if (childCommentsContainer) {
                        childCommentsContainer.prepend(newCommentItem);
                    }
                }
            } else {
                commentsSection.prepend(newCommentItem);
            }

            // Hide the button container after submission
            const buttonContainer = parentId ? document.getElementById(`buttonContainer-${parentId}`) : document.getElementById('buttonContainer');
            if (buttonContainer) {
                buttonContainer.classList.add('hidden');
            }

            document.getElementById('comment_count').textContent = parseInt(document.getElementById('comment_count').textContent) + 1;

        } else {
            alert("Failed to post comment.");
        }
    } catch (error) {
        console.error("Error submitting comment:", error);
        alert("There was an error submitting your comment.");
    }
}

</script>
{% endblock %}