{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load utils %}

<link rel="stylesheet" href="{% static 'css/quill.snow.css' %}" />
<link rel="stylesheet" href="{% static 'css/quill.bubble.css' %}" />

{% include 'components/modals/delete_post_modal.html' %}

<div id="{{ post.id }}">
    <div class="flex flex-row w-full relative top-[10vh]">
        {% include 'components/leftbar.html'%}
        <div class="p-10 w-[85%] relative left-[15%] ">
            <div class="flex flex-row justify-between ">
                <div class="w-full flex flex-row justify-between items-start px-8 ">
                    <div class="flex flex-row gap-4 max-w-2xl w-full">
                        <div class="flex flex-col gap-4">
                            <button onclick="history.back()" type="button"
                                class="bg-button_gray hover:bg-button_gray_hover dark:bg-dark_2 dark:hover:bg-gray_2 rounded-full w-[40px] h-[40px] py-2 px-2 flex justify-center items-center">
                                <svg pl="" fill="currentColor" height="16" icon-name="left-outline" viewBox="0 0 20 20"
                                    width="16" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="m13.058 19.442-9-9a.624.624 0 0 1 0-.884l9-9 .884.884L5.384 10l8.558 8.558-.884.884Z">
                                    </path>
                                </svg>
                            </button>

                            {% if request.user == post.user %}
                            <a href="{% url 'post:edit_post' post.id %}"
                                class="bg-button_gray hover:bg-button_gray_hover dark:bg-dark_2 dark:hover:bg-gray_2 rounded-full w-[40px] h-[40px] py-2 px-2 flex justify-center items-center">
                                {% include 'svg/pencil.html'%}
                            </a>

                            <button onclick="event.stopPropagation(); document.querySelector('#delete-post-modal').querySelector('input[name=post_id]').value = '{{post.id}}'"
                                data-modal-target="delete-post-modal" data-modal-toggle="delete-post-modal"
                                class="bg-button_gray hover:bg-button_gray_hover dark:bg-dark_2 dark:hover:bg-gray_2 rounded-full w-[40px] h-[40px] py-2 px-2 flex justify-center items-center">
                                {% include 'svg/trashcan.html'%}
                            </button>

                            {% endif %}
                        </div>
                        <div class="flex flex-col gap-6 w-full">
                            <div class="flex flex-col gap-3">
                                <div class="flex flex-row items-center gap-2 w-full">
                                    <div class="rounded-full w-10 h-10 bg-gray-200">
                                        {% if post.community.avatar|startswith:'https'%}
                                        <img class="img-modal w-full h-full rounded-full object-cover"
                                            src="{{ post.community.avatar }}" alt="Community avatar" />
                                        {% else %}
                                        <img class="img-modal w-full h-full rounded-full object-cover"
                                            src="{{MEDIA_URL}}{{post.community.avatar }}" alt="Community avatar" />
                                        {% endif %}
                                    </div>
                                    <div class="flex flex-col items-start justify-end gap-0 leading-none">
                                        <a href="{% url 'community:community' post.community.name %}"
                                            class="font-medium text-sm">r/{{ post.community.name }}</a>
                                        <!-- TODO -->
                                        <a href="{% url 'account:user_profile' post.user.username %}" class="text-xs">{{post.user }}</a>
                                    </div>
                                    <p>•</p>
                                    <p data-created-at="{{ post.created_at }}">{{ post.created_at }}</p>
                                </div>
                                <h1 class="font-bold text-xl">{{ post.title }}</h1>
                            </div>
                            <span class="ql-editor post-content">{{ post.content }}</span>
                            <!-- VOTES AND COMMENTS -->
                            <!-- VOTES-->

                            <div class="flex flex-row gap-2 mt-4">
                                {% include 'components/post/vote_control.html' with content=post type='post'%}
                                {% include 'components/post/comment_control.html' with content=post %}
                            </div>

                            <div class="w-full mt-2 rounded-lg border border-gray-300">
                                <textarea id="commentBox" placeholder="Add a comment..."
                                    class="w-full border-none outline-none p-6 resize-none min-h-12 shadow-none focus:ring-0"
                                    style="width: 100%; border: none; outline: none; padding: 10px; resize: none; min-height: 80px; box-shadow: none;"
                                    onfocus="this.parentElement.classList.add('border-gray-500')"
                                    onblur="this.parentElement.classList.remove('border-gray-500');"></textarea>

                                <div id="commentControl"
                                    class="transition-all peer  justify-end p-2.5 border-t-none bg-white transition-all float-right">

                                    <button
                                        style="padding: 5px 10px; border: none; background-color: #1a73e8; color: white; border-radius: 15px;"
                                        class="inline-flex items-center px-2 py-1 bg-blue-600 text-white rounded-full hover:bg-blue-700 text-sm"
                                        {% if user.is_authenticated %}
                                            onclick="submitComment('{{post.id}}')"
                                        {% else %}
                                            data-modal-target="sign_in_modal"
                                            data-modal-toggle="sign_in_modal"
                                        {% endif %}
                                        >
                                        Comment
                                    </button>
                                </div>
                            </div>

                            <!-- comment section wiggy-->
                            {% include 'components/post/comments.html' with post=post root_comments=root_comments %}

                        </div>
                    </div>
                    {% include 'components/community/community_right_bar.html' with community=post.community%}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}